{:paths ["src"]
 :cljd/opts {:main example.main, :bin "dart"}
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        tensegritics/clojuredart
        {:git/url "git@github.com:tensegritics/ClojureDart.git"
         :sha "69c43135a30d74857801bbc0bb1e762fb6175757"}}}
